In [57]:
from sklearn.tree import DecisionTreeClassifier
import pandas as pd

In [58]:
data = pd.read_csv("机器学习图书.csv",engine="python")

In [59]:
data.head()

,锘縉ame,Price,Author,Date,Publisher,Comment,sales
0,鏈哄櫒瀛︿範,61.6,鍛ㄥ織鍗�,1/1/2016,娓呭崕澶у�﹀嚭鐗堢ぞ,74788,172446
1,鏈哄櫒瀛︿範瀹炴垬銆恜ython鍩虹��鏁欑▼鎸囧崡锛宲ython鏍稿績缂栫▼瀹炰緥鎸囧�硷...,54.5,鍝堟灄椤�,6/1/2013,浜烘皯閭�鐢靛嚭鐗堢ぞ,24895,300279
2,鏈哄櫒瀛︿範鈥斺�斿師鐞嗐�佺畻娉曚笌搴旂敤,66.5,闆锋槑,9/1/2019,娓呭崕澶у�﹀嚭鐗堢ぞ,1074,2643
3,鏈哄櫒瀛︿範瀹炴垬锛氬熀浜嶴cikit-Learn鍜孴ensorFlow,82.1,濂ラ浄鍒╁畨路鏉伴緳,8/27/2018,鏈烘�板伐涓氬嚭鐗堢ぞ,5438,259062
4,鏈哄櫒瀛︿範涓�鐨勬暟瀛�,61.1,瀛欏崥,11/1/2019,姘村埄姘寸數鍑虹増绀�,1778,72852

In [60]:
label = data["sales"]
features = data.drop(["sales"], 1)

In [61]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(max_depth=5)

In [62]:
from sklearn.preprocessing import LabelEncoder as LabelEncode
label_model = LabelEncode()

In [63]:
features["Author"] = label_model.fit_transform(features["Author"].astype(str))

In [64]:
features["Publisher"] = label_model.fit_transform(features["Publisher"].astype(str))

In [65]:
features["锘縉ame"] = label_model.fit_transform(features["锘縉ame"].astype(str))

In [66]:
features["Date"] = label_model.fit_transform(features["Date"].astype(str))

In [67]:
features.head()

   锘縉ame  Price  Author  Date  Publisher Comment
0   2198   61.6    1339    18          7   74788
1   2241   54.5    1362   339         38   24895
2   2282   66.5    2183   496          7    1074
3   2243   82.1     783   466        178    5438
4   2233   61.1     819    92          2    1778

In [84]:
def transform(item):
    try:
        return int(item)
    except:
        return 0

In [85]:
features["Comment"] = features["Comment"].apply(transform)

In [88]:
fill_value = features.median()
fill_value

锘縉ame        1376.5
Price          38.7
Author        916.5
Date          290.0
Publisher     123.0
Comment        26.0
dtype: float64

In [89]:
features.fillna(fill_value,inplace=True)

In [90]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 6 columns):
锘縉ame        3150 non-null int32
Price        3150 non-null float64
Author       3150 non-null int32
Date         3150 non-null int32
Publisher    3150 non-null int32
Comment      3150 non-null int64
dtypes: float64(1), int32(4), int64(1)
memory usage: 98.5 KB

In [91]:
model.fit(features, label)

DecisionTreeRegressor(criterion='mse', max_depth=5, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [92]:
model.feature_importances_

array([0.08496103, 0.25294312, 0.06992638, 0.09084928, 0.04330087,
       0.45801932])

In [94]:
import graphviz

ModuleNotFoundError: No module named 'graphviz'

In [ ]:

feature_name = ['酒精','苹果酸','灰','灰的碱性','镁','总酚','类黄酮','非黄烷类酚类','花青素','颜色强度','色调','od280/od315稀释葡萄酒','脯氨酸']
dot_data = tree.export_graphviz(clf
,out_file=None
,feature_names= feature_name
,class_names=["琴酒","雪莉","贝尔摩德"]
,filled=True
,rounded=True
)
graph = graphviz.Source(dot_data)